{% extends 'base.html' %}

{% load static %}

{% block 'custom-css' %}
<link href="{% static 'main/jumbotron.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}

  <main role="main">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            <h1>Find your case</h1>
            <input type="text" name="case-id" />
            <input type="submit" value="Submit" />
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %}
