{% extends 'base.html' %}

{% block 'content' %}

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Frequently Asked Questions</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <lead><em>Coming soon!</em></lead>
        </div>
      </div>

      <hr>

    </div>

  </main>

{% endblock %}
