{% extends 'base.html' %}

{% block 'content' %}

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <lead><em>Welcome to</em></lead>
        <h1 class="display-3">Attorney Connection</h1>
        <p>We can connect you with an attorney who will review your documents, for free or low-cost.</p>
        <p><a class="btn btn-primary btn-lg" href="/upload-form" role="button">Upload a form now &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Step 1</h2>
          <p>Visit TN Free Legal Answers to find out what documents you might need.</p>
          <p><a target="_blank" class="btn btn-secondary" href="https://tn.freelegalanswers.org" role="button">Go &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Step 2</h2>
          <p>Get automated, step-by-step assistance filling out your form.</p>
          <p><a target="_blank" class="btn btn-secondary" href="https://lawhelpinteractive.org/Interview/A2J.aspx?q=JlfqF7zJOf4lC2jqlaCkSy3GeHIBNkrlTwaLJhM7/ZLjA2xnBOxg8FTaYKb2IaNkiDlZkf7Cnngz5E1dSVC/B8LTik8N6P09iSLlZ8cfcosN1BkraQ5J0Pe60NGv1ki8oKvSzPRP4oEQGXltIONbsPsanf8MF77vN1ASG99U4mKUFwA95zccjlr7fmk8Oh2qLbPiXQqmaYyg1p/vs+fIbcgWNrYxqVQ5qaueVtg1R+AmexkUCy2iviMK9iHIobcXOfl2PlZEWjUr5hdEpuS2TM/Ylg5bovtlCuadwaO5KSh+5Ozrtm3QuhfoH/Q2xDLjJwbo0+3cvV9AMp+iUIE9Gg==&lang=en#!" role="button">Go &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Step 3</h2>
          <p>Upload your forms.</p>
          <p><a class="btn btn-secondary" href="/upload-form" role="button">Go &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

{% endblock %}
