{% extends 'base.html' %}

{% load static %}

{% block 'custom-css' %}
<link href="{% static 'main/jumbotron.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}

  <main role="main">

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <div id="doc-form" style="margin: 100px;">
            <h1>Upload your form</h1>
            <form enctype="multipart/form-data" action="/main/get-advice-and-upload" method="post">
              {% csrf_token %}
              <table>
              {{ client_form.as_table }}
              {{ legal_form.as_table }}
              </table>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div><small>Privacy note: we only share your information with the attorney who reviews your form.</small></div>
          </div>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

{% endblock %}
